<!doctype html>
<html lang="en" class="bg-stone-50">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ title | default: "adammi.sh" }}</title>
  </head>
  <body class="flex h-screen flex-col">
    <header class="py-2 text-center">
      <div class="mx-auto mt-4 w-fit">
        <a class="hover:no-underline" href="/">
          <div class="rounded-md bg-white px-8 py-2 shadow-lg hover:shadow-xl">
            <h1 class="text-2xl">adammi.sh</h1>
          </div>
        </a>
      </div>
    </header>
    <main class="mx-auto mt-12 w-full max-w-xl px-4">{{ content }}</main>
    <!-- <footer class="bg-gray-200 py-2 text-center">Footer</footer> -->
  </body>
</html>
