<!doctype html>
<html lang="en" class="bg-stone-50 font-serif">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>{{ title | default: "adammi.sh" }}</title>
</head>
<body class="flex h-screen flex-col">
<header class="p-4 md:ml-24">
    <div class="mt-4 w-fit">
        <a class="no-underline" href="/">
            <h1 class="text-4xl text-blue-300 no-underline hover:underline">
                adammi.sh
            </h1>
        </a>
    </div>
</header>
<main class="mt-8 w-full max-w-xl px-4 text-stone-700 md:ml-24">
    {{ content }}
</main>
<!-- <footer class="bg-gray-200 py-2 text-center">Footer</footer> -->
</body>
</html>
